# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Raw datasets
data/raw/

# Compressed files
*.zip
*.rar
*.7z

# OS files
.DS_Store
Thumbs.db